include README.md LICENSE
include pyproject.toml
include requirements.txt requirements_mpi.txt
global-include CMakeLists.txt *.cmake *.in
recursive-include cmake *
recursive-include src *
recursive-include tests *

# see .gitignore
prune cmake-build*
prune .spack-env*
