include README.md LICENSE
include pyproject.toml
include requirements.txt requirements_mpi.txt
include dependencies.json
global-include CMakeLists.txt *.cmake *.in
recursive-include cmake *
recursive-include src *
recursive-include tests *

# avoid accidentially copying compiled Python files
global-exclude */__pycache__/*
global-exclude *.pyc

# see .gitignore
prune cmake-build*
prune .spack-env*
