# Copyright 2019-2023 Axel Huebl, Maxence Thevenet
#
# This file is part of WarpX.
#
# License: BSD-3-Clause-LBNL

breathe
docutils>=0.17.1
numpy  # in public APIs
pybind11-stubgen  # type hints in pyi files
pygments
recommonmark
# Attention: we need to track the resolution of
#   https://github.com/breathe-doc/breathe/issues/943
sphinx>=5.3
sphinx-copybutton
sphinx-design
sphinx_rtd_theme>=1.1.1
# reference system
#sphinxcontrib-bibtex
#sphinxcontrib-napoleon
sphinxcontrib-googleanalytics
